h2.title{
	position: relative;
	text-align: center;
	background-color: #FAEBD7;
	padding: 20px;
}
p{
	line-height: 20px;

}
span.totalPrice{
	position: absolute;
	right: 10px;
	font-size: 20px;
	padding-top: 10px;
}
p.option{
	font-size: 20px;
	text-align: center;
	text-decoration: underline;
}
span.price{
	color:blue;
	display: inline;
	float: right;
	/*width: 10%;*/
	background-color: grey;

}
p.itemName{
	color:green;
	display: inline;
	background-color: red;

}

div.itemNameAndPrice{
	display: inline;
}
div.count{
	display: inline;
	float: right;	
	text-align: left;
	width: 30px;
 	height: auto;
 	padding-left:5px;
 	background-color: green;
	
}

span.spanCount{
	display: inline-block;
	height: auto;
	text-align: center;
	background-color: #FAEBD7;
	width: 20px;
	border-radius: 50%;
}

div.abc{
	background-color: yellow;
	width: 100%;
}

div.priceAndNameDiv{
	display: inline;
	word-wrap: break-word;
}

div.def{
	display: block;
	word-wrap: break-word;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}