h2.title{
	position: relative;
	text-align: center;
	background-color: #FAEBD7;
	padding: 20px;
}
p{
	line-height: 20px;
}
span.totalPrice{
	position: absolute;
	right: 10px;
	font-size: 20px;
	padding-top: 10px;
}
p.option{
	font-size: 20px;
	text-align: center;
	text-decoration: underline;
}
span.price{
	/*color:blue;*/
	display: inline;
	float: right;
	/*background-color: grey;*/
}
p.itemName{
	/*color:green;*/
	display: inline;
	/*background-color: red;*/
}

div.itemNameAndPrice{
	display: inline;
}

div.addAreafalse{
	background-color: grey;
}

div.count{
	display: inline;
	float: right;	
	text-align: left;
	width: 30px;
 	height: auto;
 	padding-left:5px;
 	/*background-color: green;*/
}


.animate-show-hide.ng-hide {
	transform: translate(100%);
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
 	transition: all linear 1s;

}


span.spanCount{
	display: inline-block;
	height: auto;
	text-align: center;
	background-color: #FAEBD7;
	width: 20px;
	border-radius: 50%;
}

div.all{
	/*background-color: yellow;*/
	width: 100%;
}

div.priceAndNameDiv{
	display: inline;
	word-wrap: break-word;
}
