h2.title{
	position: relative;
	text-align: center;
	background-color: #FAEBD7;
	padding: 20px;
}
p{
	line-height: 20px;
}
span.totalPrice{
	position: absolute;
	right: 10px;
	font-size: 20px;
	padding-top: 10px;
}
p.option{
	font-size: 20px;
	text-align: center;
	text-decoration: underline;
}


div.pricefalse,div.pricetrue{
	width: 12%;
	padding-right: 3px;
	flex: none;
	text-align: right;
	/*color:blue;*/
	/*background-color: grey;*/
	order: 2;
	transition: all linear 0.2s;
	-webkit-transition: all linear 0.2s;
}


div.pricefalse{
	/*transform: translateX(6%);*/
	/*transition: all linear 1s;*/
}

div.pricetrue{
	
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
}




div.pad{
	padding-top: 5px;
	padding-bottom: 5px;
}
div.countPad{

	padding-top: 5px;
	padding-bottom: 5px;

}
div.itemNametrue{

	display: initial;
	min-width: 80%;
	max-width: 80%;
	order: 1;
	/*color:green;*/
	/*background-color: red;*/
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
}

div.itemNamefalse{

	display: initial;
	min-width: 88%;
	max-width: 88%;
	order: 1;
	/*color:green;*/
	/*background-color: red;*/
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;

}


div.itemNameAndPrice{
	display: inline;
}

div.addAreafalse{
	background-color: grey;
}

div.count{
	position: absolute;
	/*flex: 1;*/
	width: 8%;
	right: 0px;
	order: 3;
 	height: 100%;
 	padding-left: 10px;
 	/*background-color: green;*/
}

.animate-show-hide.ng-hide {
	
	-webkit-transform: translate(100%);
	transform: translate(100%);
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {

	-webkit-transition: all linear 0.2s;
 	transition: all linear 0.2s;

}


span.spanCount{
	display: inline-block;
	height: auto;
	text-align: center;
	background-color: #FAEBD7;
	width: 20px;
	border-radius: 50%;
}


div.all{

	display: flex;	
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	/*background-color: yellow;*/
	
}

div.everything{
	margin-left: 10px;
	margin-right: 10px;
}